@charset "utf-8";

:root {
  --scale: 50px;
}

body {
  text-align: center;
}

.flex_center {
  display: flex;
  justify-content: center;
}

#target #main {
  width: calc(6 * var(--scale));
  height: calc(var(--scale));
  background-color: black;
}

#hint #red {
  width: calc(2 * var(--scale));
  height: calc(var(--scale));
  background-color: red;
}

#hint #green {
  width: calc(2 * var(--scale));
  height: calc(var(--scale));
  background-color: green;
}

#hint #blue {
  width: calc(2 * var(--scale));
  height: calc(var(--scale));
  background-color: blue;
}

.select .box {
  width: calc(var(--scale));
  height: calc(var(--scale));
  background-color: blue;
}

.opacity0 {
  opacity: 0;
}