@charset "utf-8";

:root {
  --scale: 50px;
}

body {
  text-align: center;
  line-height: 50px;
}

.flex_center {
  display: flex;
  justify-content: center;
}

#target #main {
  width: calc(6 * var(--scale));
  height: calc(var(--scale));
  border: solid 1px black;
  border-radius: 30px;
}

#hint #odd {
  width: calc(3 * var(--scale));
  height: calc(var(--scale));
  background-color: skyblue;
  border: solid 1px skyblue;
  border-radius: 30px;
}

#hint #herf {
  width: calc(3 * var(--scale));
  height: calc(var(--scale));
  background-color: skyblue;
  border: solid 1px skyblue;
  border-radius: 30px;
}

.select .box {
  width: calc(var(--scale));
  height: calc(var(--scale));
  background-color: skyblue;
  border: solid 1px skyblue;
  border-radius: 50%;
}

#hint #odd:hover,
#hint #herf:hover,
.select .box:hover {
  opacity: 0.8;
}

.opacity0 {
  opacity: 0;
}