@charset "utf-8";

body {
  text-align: center;
}

input[type="file"] {
  display: none;
}

.filearea {
  margin: 0 auto;
  padding-top: 15px;
  width: 500px;
  border: 5px dashed lightgray;
}

.selecter {
  background-color: lightgray;
  border-radius: 30px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

.selecter:hover {
  opacity: 0.7;
}

.select-file {
  padding: 0 10px;
}

.preview {
  margin: 10px;
  width: 90%;
  min-height: 150px;
}

/* .preview.pre-select {
  border: 5px dashed lightgray;
} */

#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}
