@charset "utf-8";

body {
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.button {
  padding: 0 20px;
  border: solid 1px skyblue;
  border-radius: 30px;
  background-color: skyblue;
  width: 100px;
}

.button:hover {
  opacity: 0.8;
}

#clickspace {
  position: relative;
  width: 800px;
  height: 400px;
}

@media (600px < width < 800px) {
  #clickspace {
    width: 600px;
  }
}

@media (width <=600px) {
  #clickspace {
    width: 400px;
  }
}

#target {
  position: absolute;
  width: 80px;
  border-radius: 50%;
  background-color: pink;
  text-align: center;
  padding: 30px 0;
}

#target.end {
  position: absolute;
  width: 160px;
  border-radius: 50%;
  background-color: skyblue;
  text-align: center;
  padding: 70px 0;
}
