@charset "utf-8";

body {
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.box {
  line-height: 80px;
  height: 80px;
  width: 80px;
  border: 1px solid gray;
}

.box.drag {
  background-color: skyblue;
}

.box.dragging {
  background-color: skyblue;
  opacity: 0.5;
}




.box.allmatch {
  background-color: skyblue;
}

.anser {
  margin: 10px 20px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: lightgray;
}

.anser.row {
  margin: 20px 20px;
}

.anser.buf {
  background-color: white;
}

.number {
  line-height: 80px;
  height: 80px;
  width: 80px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: skyblue;
}

.number:hover {
  opacity: 0.8;
}

.number#numc {
  color: white;
  background-color: steelblue;
}

.number#reset {
  color: white;
  background-color: darkblue;
}

.number.selected {
  opacity: 0.5;
}

.box-white {
  background-color: white;
}

.box-black {
  background-color: black;
}