@charset "utf-8";

html {
    animation-name:rainbow;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    13% {
        background-color: orange;
    }
    26% {
        background-color: yellow;
    }
    39% {
        background-color: green;
    }
    52% {
        background-color: aqua;
    }
    65% {
        background-color: aqua;
    }
    78% {
        background-color: blue;
    }
    91% {
        background-color:purple;
    }
    100% {
        background-color: red;
    }
}