@charset "UTF-8";

body {
    text-align: center;
}

#pc-hand {
    background-image: url(./j_go.png);
    height: 130px;
    width: 130px;
    margin: 0 auto;
}

#pc-hand.rand {
    animation: handrand 1s infinite;
}

@keyframes handrand {
    0% {
        background-image: url(./j_go.png);
    }

    33% {
        background-image: url(./j_ch.png);
    }

    66% {
        background-image: url(./j_pa.png);
    }

    100% {
        background-image: url(./j_go.png);
    }
}